body{
    background-color: hsl(234, 29%, 20%);
    font-family: Roboto;
    font-weight: 400,700;
}
.container{
    width:60%;
    display:flex;
    justify-content:space-between;
    gap:5px;
    background-color:  hsl(0, 0%, 100%);
    border:1px solid  hsl(0, 0%, 100%);
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    border-radius:1rem;
}
@media (max-width:786px) {
    .container{
        width: 400px;
        flex-direction: column-reverse;
        gap:0px;
        padding:0;
        border:0;
        border-radius:0;
        margin-top: 0;
        margin-left:0;
        margin-right:0;
    }
}
.info{
    padding-top:5px;
    padding-left:3rem;
    /* padding-right:1rem; */
}
@media (max-width:786px){
    .info{
        padding-left: 2rem;
        padding-right: 2rem;
         margin-top:-50px ; 
    }
}

h1{
    padding-top:32px;
}


/* p{
    padding-top:4px;
} */
span{
    vertical-align: middle;
    padding-left:0.5rem; 
    padding-right:1rem;
}
#icon{
    vertical-align: middle;
}
/* .image-container{
  width:100%; 
  height: 100%; */

.image{
    background-image: url("images/illustration-sign-up-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height:450px;
    width:450px;
    margin-top: 1.5rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
}
@media (max-width:786px){
    .image{
        padding:0;
        width:475px;
        background-size:cover;
        background-repeat: no-repeat;
        margin-top:0;
        margin-left:0;
        margin-right:0;
        transform: translateX(-37px);

    }
}
form{
    padding-top: 1.5rem;
}
input{
width:95%;
padding-left:10px;
padding-top: 14px;
padding-bottom:14px;
margin-top:10px;
margin-bottom:25px;
border-radius:8px;
border:1px solid hsl(231, 7%, 60%);
}
#email-error{
    font-size:16px;
    padding-left:7rem;
    /* text-align: right; */
    color:hsl(4, 100%, 67%);
}
@media (max-width:786px){
    #email-error{
        padding-left: 4rem;
    }
}

.submit-btn{
    padding-top:12px;
    padding-bottom:12px;
    padding-left:5rem;
    padding-right:5rem;
    border-radius: 8px;
    margin-top: 8px;
    background-color: hsl(4, 100%, 67%);
    font-weight:700 ;
    color:hsl(0, 0%, 100%);
    border:1px solid hsl(4, 100%, 67%);
}
@media (max-width:786px){
    .submit-btn{
        padding-bottom:12px;
        padding-top:12px;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-bottom: 3rem;

    }
}
/*confirmation message*/
.success-container{
    width:22%;
    border:1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
    padding-left:3rem;
    padding-right:3.5rem;
    /* padding-top:1rem;*/
    /* padding-bottom:rem; */
    margin-right:auto;
    margin-left:auto;
    margin-top:60px;
}
.icon{
    padding-top:2rem;
}
h2{
    font-size:36px;
    margin-top:1rem;
    color:hsl(234, 29%, 20%);
}
p{
  font-size:16px;
  margin-top:-0.5rem;
}
strong{
    color:hsl(234, 29%, 20%);
}
.dismiss-btn{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:88px;
    padding-right:88px;
    border-radius:6px;
    margin-top:8px;
    background-color: hsl(234, 29%, 20%);
    border:1px solid hsl(234, 29%, 20%);
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    margin-bottom: 2rem;
}
/* .display-message.success-container{
    visibility: visible;
}
.hide-signup.container{
    visibility:hidden;
} */
